<app-cabecero
  [presupuestoTotal]="getPresupuestoTotal()"
  [ingresoTotal]="getIngresosTotal()"
  [egresoTotal]="getEgresosTotal()"
  [porcentajeTotal]="getPorcentajeTotal()"
></app-cabecero>
<app-formulario></app-formulario>

<div class="contenedor limpiarEstilos">
  <app-ingreso></app-ingreso>
  <app-egreso [ingresoTotal]="getIngresosTotal()"></app-egreso>
</div>
